# ===================
# __NOTE__: Please do fill up emty fields with your variables
# ===================


# ===================
# VAULT
# ===================
VAULT_TOKEN=
VAULT_ADDR=http://localhost:8200

# ===================
# MLFLOW
# ===================
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

INITIAL_MODEL_NAME="" # Registered model name from MLFlow

# ===================
# KAFKA
# ===================
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
MODEL_CONTROL_TOPIC=model_commands
PREDICTION_TOPIC=inference_commands

# ===================
# REDIS
# ===================
REDIS_URL=redis://redis-master:6379/0

# ===================
# FEAST
# ===================
# FEAST_REPO_PATH=/app/infra/feast
FEAST_REPO_PATH=/app/infra/feast
